body {
    padding: 100px;
}

#navBtnHireMe {
    color: black !important;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 20px;
    background-color: none;
}


#navBtnHireMe:hover {
    background-color: black;
    border: 1px solid white;
    color: white !important;
}

.header_intro {
    margin-top: 5rem;
}

.header_intro > .span1 {
    font-size: 2rem;
}

.header_intro > .span2 {
    font-size: 4rem;
}


.header_intro > .span3 {
    font-size: 1.5rem;
}

.center {
    margin: 0;
    position: absolute;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}

header .container {
    border-bottom: 1px solid rgba(56, 55, 55, 0.178);
}

.project .nav-link.active {
    color: white !important;
    background-color: black !important;
}

.project a {
    color: black !important;
}

.card {
    border: 1px solid rgba(0, 0, 0, .125) !important;
    border-radius: 10px !important;
}

.card .card-img, .card-img-top {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

@media (min-width: 576px) and (max-width: 767.98px) { 
    .span2 {
        font-size: 3rem !important;
    }
 }

 @media (max-width: 575.98px) { 
    .span2 {
        font-size: 3rem !important;
    }

    .header_intro {
        margin-top: 1.5rem;
    }

 }
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}