

#btnRound {
    font-weight: 500;
    border: 2px solid black;
    border-radius: 20px;
    background-color: none;
}


#btnRound:hover {
    background-color: black;
    box-shadow: 2px 2px 10px black;
    border: 1px solid white;
    color: white !important;
}

.header_intro {
    margin-top: 5rem;
}

.header_intro > .span1 {
    font-size: 2rem;
}

.header_intro > .span2 {
    font-size: 4rem;
}


.header_intro > .span3 {
    font-size: 1.5rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;

}

header .container {
    border-bottom: 1px solid rgba(56, 55, 55, 0.178);
}

.project .nav-link.active {
    color: white !important;
    background-color: black !important;
}

.project a {
    color: black !important;
}

.card {
    border: 1px solid rgba(0, 0, 0, .125) !important;
    border-radius: 10px !important;
}

.card .card-img, .card-img-top {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

@media (min-width: 576px) and (max-width: 767.98px) { 
    .span2 {
        font-size: 3rem !important;
    }
    #whoAmI {
        font-size: 56px !important;
    
    }
 }

 @media (max-width: 575.98px) { 
    .span2 {
        font-size: 3rem !important;
    }

    .header_intro {
        margin-top: 1.5rem;
    }
    #whoAmI {
        font-size: 56px !important;
    
    }
    .testimony {
        padding: 2rem 4rem 4rem 4rem !important;
    }
    

 }
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
}

.headerBtn .btn-dark {
    background-color: black !important;
    box-shadow: 2px 2px 10px black;

    color: white !important;
}

.hireMeOne {
    background-color: white !important;
    color: black !important;
}

.hireMeOne:hover {
    background-color: black !important;
    color: white !important;
}


#whoAmI {
    text-transform: uppercase;
    color: rgba(138, 136, 136, 0.733);
    font-size: 96px;

}

#social_media_links>a {
    color: inherit
}

.testimony {
    margin: 5rem 0rem;
    background-color: rgb(53, 50, 50);
    color: white;
    padding: 5rem 8rem;
}


.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    top: -135px;
}